<mdb-card class="chat-room">


    <!-- Grid row -->
    <div class="container-left">
      <img src="https://i.imgur.com/Lhp9KlH.png" alt="logo" class="">
      <i class="fa-solid fa-gear mx-auto"></i>
  </div>
  <div class="container-center">
      <h5 class="font-weight-bold text-lg-left">Chats</h5>
  
      <div class="input-group ">
          <input type="text" class="form-control " placeholder="Search...">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <button style='font-size:20px;border-style: none;'><i class='fas fa-user-alt'></i></button>
          <button style='font-size:20px;border-style: none;'><i class='fas fa-user-friends'></i></button>
      </div>
    <div class="friend-list">
      <ul class="list-unstyled friend-list">
        <li class="active grey lighten-3 p-2">
          <a href="#">
            <div class="avatar">
              <img src="https://i.imgur.com/ouKyUn3.jpg" alt="avatar" class="avatar border border-primary rounded-circle">
            </div>
            <div class="about-fr">
              <div class="text-small">
                <strong>Tien Tien</strong>
                <p class="last-message text-muted">Xie xie</p>
              </div>
              <div class="chat-footer">
                <p class="text-smaller text-muted mb-0">Just now</p>
                <mdb-badge danger="true" class="float-right">1</mdb-badge>
              </div>
            </div>
          </a>
        </li>
        <li class="p-2">
          <a href="#">
            <div class="avatar">
              <img src="https://i.imgur.com/HcYYCId.jpg" alt="avatar" class="avatar border border-primary rounded-circle">
  
            </div>
            <div class="about-fr">
              <div class="text-small">
                <strong>Ngan Cute</strong>
                <p class="last-message text-muted">okla.</p>
              </div>
              <div class="chat-footer">
                <p class="text-smaller text-muted mb-0">5 min ago</p>
                <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
              </div>
            </div>
          </a>
        </li>
        <li class="p-2">
          <a href="#">
            <div class="avatar">
              <img src="https://i.imgur.com/vif4cp7.jpg" alt="avatar" class="avatar border border-primary rounded-circle">
  
            </div>
            <div class="about-fr">
              <div class="text-small">
                <strong>Thanh Ngan</strong>
                <p class="last-message text-muted">Diem Ngan dep gai ghe ta.</p>
              </div>
              <div class="chat-footer">
                <p class="text-smaller text-muted mb-0">Yesterday</p>
                <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
              </div>
            </div>
          </a>
        </li>
        <li class="p-2">
          <a href="#">
            <div class="avatar">
              <img src="https://i.imgur.com/6hw7Ujy.jpg" alt="avatar" class="avatar border border-primary rounded-circle">
  
            </div>
            <div class="about-fr">
              <div class="text-small">
                <strong>Nhi Nho</strong>
                <p class="last-message text-muted">ko nha m.</p>
              </div>
              <div class="chat-footer">
                <p class="text-smaller text-muted mb-0">Yesterday</p>
                <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
              </div>
            </div>
          </a>
        </li>
        <li class="p-2">
          <a href="#">
            <div class="avatar">
              <img src="https://i.imgur.com/ujzOTSa.jpg" alt="avatar" class="avatar border border-primary rounded-circle">
  
            </div>
            <div class="about-fr">
              <div class="text-small">
                <strong>Bach Nguyet Quang</strong>
                <p class="last-message text-muted">met nha</p>
              </div>
              <div class="chat-footer">
                <p class="text-smaller text-muted mb-0">Yesterday</p>
                <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
              </div>
            </div>
          </a>
        </li>
        <li class="p-2">
          <a href="#">
            <div class="avatar">
              <img src="https://i.imgur.com/vjJUaMv.jpg" alt="avatar" class="avatar border border-primary rounded-circle">
            </div>
            <div class="about-fr">
              <div class="text-small">
                <strong>Chi hai</strong>
                <p class="last-message text-muted">ok nha</p>
              </div>
              <div class="chat-footer">
                <p class="text-smaller text-muted mb-0">Yesterday</p>
                <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
              </div>
            </div>
          </a>
        </li>
        <li class="p-2">
          <a href="#">
            <div class="avatar">
              <img src="https://i.imgur.com/dhTDMqj.jpg" alt="avatar" class="avatar border border-primary rounded-circle">
  
            </div>
            <div class="about-fr">
              <div class="text-small">
                <strong>Ba</strong>
                <p class="last-message text-muted">Duoc</p>
              </div>
              <div class="chat-footer">
                <p class="text-smaller text-muted mb-0">5 min ago</p>
                <span class="text-muted float-right"><mdb-icon fas icon="check" aria-hidden="true"></mdb-icon></span>
              </div>
            </div>
          </a>
        </li>
        <li class="p-2">
          <a href="#">
            <div class="avatar">
              <img src="https://i.imgur.com/dMT9msb.jpg" alt="avatar" class="avatar border border-primary rounded-circle">
  
            </div>
            <div class="about-fr">
              <div class="text-small">
                <strong>Me</strong>
                <p class="last-message text-muted">uk</p>
              </div>
              <div class="chat-footer">
                <p class="text-smaller text-muted mb-0">Yesterday</p>
                <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
              </div>
            </div>
          </a>
        </li>
        <li class="p-2">
          <a href="#">
            <div class="avatar">
              <img src="https://i.imgur.com/0gT50bg.jpg" alt="avatar" class="avatar border border-primary rounded-circle">
  
            </div>
            <div class="about-fr">
              <div class="text-small">
                <strong>Anh hai</strong>
                <p class="last-message text-muted">Khoe ko?</p>
              </div>
              <div class="chat-footer">
                <p class="text-smaller text-muted mb-0">Yesterday</p>
                <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="container-right">
    <div class="chat-message">
      <div class="chat-header clearfix">
        <div class="header">
            <div class="name-fr">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                    <img src="https://i.imgur.com/ouKyUn3.jpg" alt="avatar">
                </a>
                <div class="chat-about">
                    <h6 class="m-b-0">Tien Tien</h6>
                    <small>Last seen: Just now</small>
                </div>
            </div>
            <div class="icons">
                <a href="javascript:void(0);" class="icon"><i class="fa-solid fa-phone"></i></a>
                <a href="javascript:void(0);" class="icon"><i class="fa-solid fa-video"></i></a>
                <a href="javascript:void(0);" class="icon"><i class="fa-solid fa-ellipsis"></i></a>
  
            </div>
        </div>
    </div>
      <!-- <ul class="list-unstyled chat-1 scrollbar-light-blue">
        <li class="d-flex justify-content-between mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.webp" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
          <div class="chat-body white p-3 ml-2 z-depth-1">
            <div class="header">
              <strong class="primary-font">Brad Pitt</strong>
              <small class="pull-right text-muted"><mdb-icon far icon="clock"></mdb-icon> 12 mins ago</small>
            </div>
            <hr class="w-100">
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="d-flex justify-content-between mb-4">
          <div class="chat-body white p-3 z-depth-1">
            <div class="header">
              <strong class="primary-font">Lara Croft</strong>
              <small class="pull-right text-muted"><mdb-icon far icon="clock"></mdb-icon> 13 mins ago</small>
            </div>
            <hr class="w-100">
            <p class="mb-0">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            </p>
          </div>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.webp" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1">
        </li>
        <li class="d-flex justify-content-between mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.webp" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
          <div class="chat-body white p-3 ml-2 z-depth-1">
            <div class="header">
              <strong class="primary-font">Brad Pitt</strong>
              <small class="pull-right text-muted"><mdb-icon far icon="clock"></mdb-icon> 12 mins ago</small>
            </div>
            <hr class="w-100">
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="d-flex justify-content-between mb-4">
          <div class="chat-body white p-3 z-depth-1">
            <div class="header">
              <strong class="primary-font">Lara Croft</strong>
              <small class="pull-right text-muted"><mdb-icon far icon="clock"></mdb-icon> 13 mins ago</small>
            </div>
            <hr class="w-100">
            <p class="mb-0">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            </p>
          </div>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.webp" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1">
        </li>
        <li class="d-flex justify-content-between mb-4 pb-3">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.webp" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
          <div class="chat-body white p-3 ml-2 z-depth-1">
            <div class="header">
              <strong class="primary-font">Brad Pitt</strong>
              <small class="pull-right text-muted"><mdb-icon far icon="clock"></mdb-icon> 12 mins ago</small>
            </div>
            <hr class="w-100">
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua.
            </p>
          </div>
        </li>
      </ul> -->
      <div class="message-history">
        <ul class="list-unstyled chat-1 scrollbar-light-blue">
          <li class="content">
            <img src="https://i.imgur.com/ouKyUn3.jpg" alt="avatar" class="avatar rounded-circle">
            <div class="chat-body">
              <p> Xie xie </p>
              <div class="header">
                <small class="pull-right text-muted"><mdb-icon far icon="clock"></mdb-icon> 12:10</small>
              </div>
            </div>
          </li>
  
        </ul>
      </div>
      <div class="form-group clearfix">
        <input type="text" class="form-control" placeholder="Type your message here...">
        <!-- <div class="send">
          <span class="send-text"><i class="fa-solid fa-paper-plane-top"></i></span>
        </div> -->
       
        <button type="button" class="msg_send_btn btn btn-outline-primary"><i class="fa-solid fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
  
    <!-- Grid row -->
    </mdb-card>